@model MyBlog.Core.DTOs.Request.Portfolio.RequestInsertPortfolio

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="card-header border-0">
    <h3 class="mb-0">Proje Ekleme</h3>
</div>
<br>
<br>

<form class="form-group" asp-action="Insert" method="post">
    <label class="form-control" asp-for="Name">Proje Başlığı</label>
    <input class="form-control" asp-for="Name" />
    <br>
    <label class="form-control" asp-for="ImageUrl">Görsel 1</label>
    <input class="form-control" asp-for="ImageUrl" />
    <br>
    <label class="form-control" asp-for="ImageUrl2">Görsel 2</label>
    <input class="form-control" asp-for="ImageUrl2" />
    <br>
    <label class="form-control" asp-for="ProjectUrl">Proje Url</label>
    <input class="form-control" asp-for="ProjectUrl" />
    <br>
    <label class="form-control" asp-for="Price">Fiyat</label>
    <input class="form-control" asp-for="Price" />
    <br>
    <label class="form-control" asp-for="Value">Tamamlanma Oran</label>
    <input class="form-control" asp-for="Value" />
    <br>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>