@model MyBlog.Core.DTOs.Request.Experience.RequestInsertExperience
@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<form asp-action="Insert" method="post">
    <div class="form-group">
        <label class="form-control" asp-for="Name">Deneyim</label>
        <input class="form-control" asp-for="Name"/>
    </div>
    <br>
    <div class="form-group">
        <label class="form-control" asp-for="Date">Tarih</label>
        <input class="form-control" asp-for="Date" type="date"/>
    </div>
    <br>
    <div class="form-group">
        <label class="form-control" asp-for="ImageUrl"></label>
        <input class="form-control" asp-for="ImageUrl">
    </div>
    <br>
    <div class="form-group">
        <label class="form-control" asp-for="Description">Açıklama</label>
        <textarea class="form-control" asp-for="Description"  rows="10" cols="3"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
